
.examframe {
    height: 95vh;
}

.submitBtn {
    padding: 6px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

.reponseText {
    visibility: hidden;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
